/************************** FOOTER *************************/

.myFooter {
  color: #999; /* IE8 proofing */
  color: rgb(34, 71, 88);
  letter-spacing: 3px;
  position: fixed;
  bottom: 10px;
  width: 100%;
  margin: 0 auto;
}